* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #272727;
}

button {
  padding: 5px 15px;
  border-radius: 12px;
  background: none;
  border-width: 1px;
  border-color: dodgerblue;
  -webkit-box-shadow: 5px 5px 5px -5px #000;
          box-shadow: 5px 5px 5px -5px #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container {
  background-color: #f0f0f0;
  padding: 15px;
  width: 50%;
  height: 100vh;
  max-width: 960px;
  border-radius: 24px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .modal {
  position: fixed;
  top: 24px;
  left: 24px;
  display: block;
  background: dodgerblue;
  color: white;
  border-radius: 12px;
  padding: 25px;
  max-width: 400px;
  display: none;
}

.container .modal--visible {
  display: inline-block;
}

.container .title {
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .title .logo {
  margin-right: 24px;
  border-radius: 12px;
  width: 80px;
  height: 80px;
}

.container .form .input {
  display: block;
  min-width: 30%;
  padding: 5px 0px;
  background: none;
  margin-bottom: 12px;
  border: none;
  border-bottom: 1px solid dodgerblue;
}

.container .form .input:focus {
  outline-color: dodgerblue;
}

.container .form .select {
  display: block;
}

.container .form .submit {
  background-color: dodgerblue;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .form .submit:hover {
  background: none;
  color: #000;
}

.container .list {
  margin-top: 12px;
  line-height: 2.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.container .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .list .item .buttons .edit {
  margin-left: 12px;
  padding: none;
}

.container .list .item .buttons .edit:hover {
  background: dodgerblue;
  color: white;
}

.container .list .item .buttons .delete {
  background: #d44638;
  color: white;
}

.container .list .item .buttons .delete:hover {
  background: white;
  color: #d44638;
}

.container .list .item .buttons .vote {
  background: dodgerblue;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .list .item .buttons .vote:hover {
  color: dodgerblue;
  background: white;
}
/*# sourceMappingURL=styles.css.map */