<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Strona główna</title>
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li><a href="/auth/logout">Wyloguj</a></li>
        <li><a href="/profile">Profil</a></li>
        <% } else { %>
        <li><a href="/auth/login">Zaloguj</a></li>
        <% } %>
      </ul>
    </nav>
    <header>
      <h1>Strona główna</h1>
    </header>
    <main>
      <p>A tu jakiś tekst</p>
    </main>
  </body>
</html>
