<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Logowanie</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/auth/logout">Wyloguj</a></li>
                <li><a href="/auth/login">Zaloguj</a></li>
                <li><a href="/">Strona główna</a></li>
            </ul>
        </nav>
        <header>
            <h1>Strona logowania</h1>
        </header>
        <main>
            <a href="/auth/google">Logowanie Google</a>
        </main>
    </body>
</html>