<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Profil</title>
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li><a href="/auth/logout">Wyloguj</a></li>
        <li><a href="/profile">Profil</a></li>
        <% } else { %>
        <li><a href="/auth/login">Zaloguj</a></li>
        <% } %>
        <li><a href="/">Strona główna</a></li>
      </ul>
    </nav>
    <header>
      <h1>Profil</h1>
    </header>
    <main>
      <p>Tu jest Twój profil <%=user.username%></p>
    </main>
  </body>
</html>
