* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #46494c;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 760px;
  list-style-type: none;
}

.navbar .menu .active {
  background-color: #1985a1;
}

.navbar .menu .item {
  width: 100%;
}

.navbar .menu .item .link {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 15px;
  height: 100%;
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.navbar .menu .item .link:hover {
  background-color: #0f4e5f;
}

.main {
  height: 100%;
  background: #c5c3c6;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .player-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 200px;
}

.main .player-info .player-avatar {
  max-width: 200px;
  max-height: 300px;
}

.main .player-info .player-stats {
  -webkit-box-shadow: 5px 5px 25px -15px #46494c;
          box-shadow: 5px 5px 25px -15px #46494c;
  border: 1px solid #46494c;
  color: #dcdcdd;
  padding: 12px;
  border-radius: 12px;
  min-width: 200px;
  background: #46494c;
  margin-top: 24px;
  list-style-type: none;
}

.main .player-info .player-stats .item {
  color: #1985a1;
}

.main .player-info .player-stats .points {
  margin-bottom: 6px;
  color: #c5c3c6;
}

.main .equipment {
  margin-left: 24px;
  background: #46494c;
  border-radius: 12px;
  padding: 12px;
  width: 100%;
}

.main .equipment .player-equipment {
  display: inline-block;
  margin-right: 64px;
  margin-bottom: auto;
  width: 100%;
  border: 1px solid #dcdcdd;
  max-width: 300px;
  padding: 12px;
  border-radius: 12px;
}

.main .equipment .player-equipment .title {
  color: #1985a1;
}

.main .equipment .player-equipment .menu {
  list-style-type: none;
  color: #c5c3c6;
}

.main .equipment .player-equipment .menu .item--dressed-stats {
  list-style-type: none;
  color: #1985a1;
}

.main .equipment .player-equipment .menu .item--dressed-stats:last-of-type {
  margin-bottom: 12px;
}

.expedition-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.expedition-list .expedition-menu {
  margin: 24px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expedition-list .expedition-menu .item {
  margin-right: 24px;
}

.expedition-list .expedition-menu .item:hover {
  color: #1985a1;
  cursor: pointer;
}

.expedition-list .button {
  display: block;
  background: none;
  color: #dcdcdd;
  border: 1px solid #4c5c68;
  background: #1985a1;
  padding: 5px 15px !important;
  cursor: pointer;
  border-radius: 6px;
}

.fight-result {
  width: 100%;
}

.fight-result .results {
  list-style-type: none;
}

.fight-result .results .round-nr {
  margin: 0 auto;
  display: block;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */