<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kazimierz Bagrowski - web developer</title>
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <meta
      name="description"
      content="Kazimierz Bagrowski - tworzenie stron internetowych od podstaw. Nowocześnie, responsywnie i ze smakiem."
    />
    <meta
      name="keywords"
      content="strony, strona, www, wizytówki, strony internetowe, tworzenie stron, strony internetowe, kraków, olkusz, programowanie, wykonanie strony"
    />
    <meta name="author" content="Kazimierz Bagrowski" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="header">
      <div id="particles-js">
      <nav class="navbar">
          <button class="hamburger">
              <span></span>
              <span></span>
              <span></span>
          </button>
        <ul class="menu">
          <li class="menu-item">
            <a href="#" class="menu-item-link">Start</a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-item-link">O mnie</a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-item-link">Projekty</a>
          </li>
          <li class="menu-item">
            <a href="#" class="menu-item-link">Kontakt</a>
          </li>
        </ul>
      </nav>
      <div class="header-info">
          <h1 class="title">
            Potrzebujesz strony dla firmy?
          </h1>
          <h2 class="subtitle">Chcesz pokazać się światu?</h2>
          <a href="#" class="cta-button">Zobacz moją ofertę</a>
      </div>
    </header>
</div>

    <section class="section about">
      <h2 class="title">Co mogę dla Ciebie zrobić?</h2>
      <p class="about-me-description">
        Tworzę strony internetowe od zupełnych podstaw, jak i wprowadzam zmiany
        na już istniejących. Zaprojektuję dla Ciebie stronę lekką, wyświetlającą
        się poprawnie na każdym urządzeniu i przede wszystkim przykuwającą
        uwagę.
      </p>
      <h2 class="title">Dlaczego ja?</h2>
      <p class="about-me-description">
        Do każdego projektu podchodzę indywidualnie, nie korzystam z gotowych
        szablonów, tworzę wszystko od zera, żeby Twoja strona była wyjątkowa i
        dopasowana pod Ciebie.
      </p>
      <h2 class="title">Co możesz zyskać?</h2>
      <p class="about-me-description">
        W dzisiejszych czasach większość ludzi korzysta z Internetu. Nie
        istniejąc w sieci, Twoja firma traci wielu potencjalnych klientów. Nie
        chcę obiecywać Ci gruszek na wierzbie, że nagle Twoje przychody wzrosną
        o 10000%, lecz posiadając stronę internetową wzbudzasz zaufanie oraz
        pozwalasz się zauważyć.
      </p>
    </section>
    <section class="section projects">
      <h2 class="title">Zobacz moje realizacje</h2>
      <div class="cards-container">
        <div class="card">
          <h3 class="card-title">Projekt 1</h3>
          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem culpa provident laborum earum repellendus ullam!</p>
          <a class="card-link" href="#">Przejdź do strony</a>
        </div>
        
        <div class="card">
          <h3 class="card-title">Projekt 2</h3>
          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem culpa provident laborum earum repellendus ullam!</p>
          <a class="card-link" href="#">Przejdź do strony</a>
        </div>

        <div class="card">
          <h3 class="card-title">Projekt 3</h3>
          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem culpa provident laborum earum repellendus ullam!</p>
          <a class="card-link" href="#">Przejdź do strony</a>
        </div>
        
        <div class="card">
          <h3 class="card-title">Projekt 4</h3>
          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem culpa provident laborum earum repellendus ullam!</p>
          <a class="card-link" href="#">Przejdź do strony</a>
        </div>
        
        
      </div>
    </section>
    <section class="section contact">
      <h2 class="title">Chcesz wiedzieć więcej?</h2>
      <h3 class="subtitle">Skontaktuj się ze mną.</h3>
      <ul class="contact-container">
        <li class="contact-item">
          <a class="contact-item-link" href="tel:+48667952307">667 952 307</a>
          <a
            class="contact-item-link"
            href="mailto:bagrowskikazimierz@gmail.com"
            >bagrowskikazimierz@gmail.com</a
          >
          <a
            class="contact-item-link"
            href="https://www.facebook.com/kazimierz.bagrowski"
            >Facebook</a
          >
        </li>
      </ul>
      <form action="" class="contact-form">
        <input type="text" class="input" placeholder="Twoje imię" />
        <input
          type="text"
          class="input"
          placeholder="Twój email, lub numer telefonu"
        />
        <textarea name="textarea" id="textarea" cols="30" rows="10"></textarea>
        <button>Wyślij</button>
      </form>
    </section>
    <script src="./assets/particles.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
