* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  color: #f8f4e3;
  height: 100vh;
  position: relative;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 100%;
  line-height: 2;
  text-align: center;
  width: 100%;
}

.header-info .title {
  font-size: 20px;
}

.header-info .subtitle {
  font-size: 16px;
}

.header-info .cta-button {
  border: 1px solid #ff8966;
  color: #f8f4e3;
  text-decoration: none;
  margin-top: 12px;
  padding: 5px 15px;
  border-radius: 8px;
  background: #f8f4e3;
  color: #2a2b2a;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #f8f4e3;
  border-color: #2a2b2a;
  background: #e5446d;
}

.header-info .cta-button:hover {
  background: #ff8966;
  border-color: #2a2b2a;
}

.header canvas {
  background: #2a2b2a;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.header .navbar {
  background: rgba(42, 43, 42, 0.85);
  width: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
}

.header .navbar .hamburger {
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 24px;
  margin-top: 24px;
  background: none;
  border: none;
  padding: 5px;
  background: rgba(42, 43, 42, 0.5);
}

.header .navbar .hamburger span {
  display: inline-block;
  border: 1px solid #f8f4e3;
  margin: 5px;
  width: 35px;
}

.header .navbar .menu {
  -webkit-transition: 1.3s;
  transition: 1.3s;
  max-height: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1000;
  list-style: none;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .navbar .menu-item {
  text-align: center;
  list-style: none;
  width: 100%;
  margin: 8px;
  display: none;
}

.header .navbar .menu-item-link {
  display: inline-block;
  text-decoration: none;
  color: #e5446d;
  width: 100%;
}

.header .visible {
  max-height: 100vh !important;
  height: 100vh;
}

.header .disp {
  display: inline-block !important;
}

.section {
  color: #f8f4e3;
  line-height: 2;
  padding: 0 5px;
  padding-bottom: 12px;
  -webkit-box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.75);
}

.section:nth-of-type(1) {
  background: #373837;
}

.section:nth-of-type(2) {
  background: #434543;
}

.section:nth-of-type(3) {
  background: #505250;
}

.section .title {
  position: relative;
  color: white;
  padding-bottom: 25px;
  text-align: center;
}

.section .title:first-of-type {
  padding-top: 12px;
}

.section .title::after {
  position: absolute;
  content: "";
  z-index: 1000;
  bottom: 20px;
  left: 25%;
  height: 1px;
  width: 50%;
  background: #e5446d;
}

.section .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section .cards-container .card {
  -webkit-box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  margin-top: 12px;
  position: relative;
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  z-index: 10;
  padding: 15px;
}

.section .cards-container .card-title {
  position: relative;
  text-transform: uppercase;
}

.section .cards-container .card-title::after {
  position: absolute;
  content: "";
  z-index: 1000;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 50%;
  background: #e5446d;
}

.section .cards-container .card-description {
  text-indent: 12px;
}

.section .cards-container .card-link {
  border: 1px solid #e5446d;
  padding: 3px 9px;
  border-radius: 12px;
  background-color: #e5446d;
  color: #f8f4e3;
  display: inline-block;
  margin-top: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.section .cards-container .card-link:hover, .section .cards-container .card-link:focus {
  -webkit-box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.75);
  background-color: #2a2b2a;
  color: #e5446d;
}

.section .cards-container .card::before {
  z-index: -1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url("https://images.pexels.com/photos/2808402/pexels-photo-2808402.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.section .cards-container .card:hover::before, .section .cards-container .card:focus::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.about {
  background: #2a2b2a;
}

.about-me-description {
  text-indent: 12px;
}

.contact .subtitle {
  margin-bottom: 24px;
}

.contact .title:last-of-type {
  margin: 24px 0;
}

.contact-container {
  background: #434543;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.contact-item i {
  font-size: 2rem;
  background-color: #2a2b2a;
  border: 1px solid #2a2b2a;
  margin-right: 24px;
}

.contact-item .fa-phone-square {
  color: lightgreen;
}

.contact-item .fa-envelope-square {
  color: #b23121;
}

.contact-item .fa-facebook-square {
  color: #4267b2;
}

.contact-item-link {
  color: #f8f4e3;
  text-decoration: none;
}

.contact-form {
  border-radius: 14px;
  background-color: #434543;
  padding: 5px 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
}

.contact-form .input {
  border: none;
  border-bottom: 1px solid #e5446d;
  background: none;
  margin-bottom: 24px;
  padding: 5px 15px;
  color: #2a2b2a;
  resize: none;
}

.contact-form .button {
  border: 1px solid #e5446d;
  padding: 5px 15px;
  width: 50%;
  margin: 0 auto;
  border-radius: 12px;
  background: #2a2b2a;
  color: #f8f4e3;
  -webkit-box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.75);
  margin-bottom: 24px;
}

::-webkit-input-placeholder {
  color: #f8f4e3;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #f8f4e3;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #f8f4e3;
  opacity: 1;
}

::placeholder {
  color: #f8f4e3;
  opacity: 1;
}
/*# sourceMappingURL=styles.css.map */