* {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #272727;
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 95vh;
  background-image: url("./assets/img/header_image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: center;
}

.header .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 200px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 5px 25px -15px #f4a261;
          box-shadow: 0px 5px 25px -15px #f4a261;
  background: rgba(39, 39, 39, 0.65);
  padding: 15px;
  text-align: center;
}

.header .text .title {
  color: #f0f0f0;
}

.header .text .subtitle {
  color: #f0f0f0;
  font-size: 14px;
}

.nav {
  position: relative;
  min-height: 5vh;
  z-index: 10000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nav .hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav .hamburger {
    position: absolute;
    min-height: 50px;
    right: 5px;
    top: 5px;
    display: block;
    width: 25px;
  }
  .nav .hamburger .line {
    display: block;
    width: 100%;
    min-height: 2px;
    background: #f0f0f0;
  }
  .nav .hamburger .line:nth-of-type(2) {
    margin: 6px 0;
  }
}

.nav .menu-nav {
  list-style-type: none;
  margin: 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .nav .menu-nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .menu-nav .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav .menu-nav .item .link {
  color: #f4a261;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.nav .menu-nav .item .link:hover {
  color: #2a9d8f;
}

.nav .menu-nav--visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.section {
  margin: 0 auto;
  margin-top: 24px;
  width: 60%;
  background: #fef6f0;
  padding: 12px;
  -webkit-box-shadow: 5px 2px 10px -5px #f4a261;
          box-shadow: 5px 2px 10px -5px #f4a261;
}

@media screen and (max-width: 900px) {
  .section {
    width: 95%;
  }
}

.section .title {
  position: relative;
  font-size: 24px;
  margin-bottom: 24px;
}

.section .title::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  background: #f4a261;
  width: 300px;
  height: 2px;
  z-index: 1000;
}

@media screen and (max-width: 900px) {
  .section .title::after {
    width: 100%;
  }
}

.sticky {
  min-height: 30px;
  -webkit-box-shadow: 0px 5px 15px -15px #f4a261;
          box-shadow: 0px 5px 15px -15px #f4a261;
  background: rgba(39, 39, 39, 0.85);
  border: none;
  position: fixed;
  z-index: 1000;
  top: 0;
}
/*# sourceMappingURL=styles.css.map */