* {
  font-family: "PT Sans", sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

// media queries
$medium: 900px;

$light: #f0f0f0;
$lighten: #fef6f0;
$dark: #272727;
$primary: #f4a261;
$secondary: #2a9d8f;
body {
  background: $dark;
  overflow-x: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 95vh;
  background-image: url("./assets/img/header_image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: center;
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
    border-radius: 12px;
    box-shadow: 0px 5px 25px -15px $primary;
    background: rgba($dark, 0.65);
    padding: 15px;
    text-align: center;
    .title {
      color: $light;
    }
    .subtitle {
      color: $light;
      font-size: 14px;
    }
  }
}

.nav {
  position: relative;
  min-height: 5vh;
  z-index: 10000;
  width: 100%;
  .hamburger {
    display: none;
  }
  @media screen and(max-width: $medium) {
    transition: 0.3s ease-in-out;
    .hamburger {
      position: absolute;
      right: 5px;
      top: 5px;
      display: block;
      height: 25px;
      width: 25px;
      .line {
        display: block;
        width: 100%;
        min-height: 2px;
        background: $light;
        &:nth-of-type(2) {
          margin: 6px 0;
        }
      }
    }
  }
  .menu-nav {
    list-style-type: none;
    margin: 0 auto;
    flex-shrink: 0;
    width: 50%;
    justify-content: space-around;
    display: flex;

    @media screen and(max-width: $medium) {
      display: none;
      flex-direction: column;
      .item {
        justify-content: center;
        align-items: center;
      }
    }
    .item {
      .link {
        color: $primary;
        transition: 0.3s;
        text-decoration: none;
        &:hover {
          color: $secondary;
        }
      }
    }
    &--visible {
      display: flex;
    }
  }
}

.section {
  margin: 0 auto;
  margin-top: 24px;
  width: 60%;
  background: $lighten;
  padding: 12px;
  box-shadow: 5px 2px 10px -5px $primary;
  @media screen and(max-width: $medium) {
    width: 95%;
  }
  .title {
    position: relative;
    font-size: 24px;
    margin-bottom: 24px;
    &::after {
      position: absolute;
      bottom: -10px;
      left: 0;
      content: "";
      background: $primary;
      width: 300px;
      height: 2px;
      z-index: 1000;
      @media screen and(max-width: $medium) {
        width: 100%;
      }
    }
  }
}
// helpers
.sticky {
  box-shadow: 0px 5px 15px -15px $primary;
  border: none;
  position: fixed;
  z-index: 1000;
  top: 0;
}
// https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51
