* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container {
  background: #dcdcf6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.container .form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.75);
  padding: 24px;
  width: 760px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container .form .expiration__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .form .expiration__container .expiration {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 24px;
}

.container .form .expiration__container .expiration:last-of-type {
  margin-left: auto;
}

.container .form__item {
  margin-bottom: 12px;
}

.container .form__label {
  font-size: 12px;
  margin-bottom: 2px;
}

.container .form__button__submit {
  margin-top: 24px;
  background: dodgerblue;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 12px;
  color: white;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
}

.container .form__button__submit:hover {
  cursor: pointer;
  background: #0077ea;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.container .form .input,
.container .form .select {
  font-size: 1.5rem;
  border: 1px solid dodgerblue;
  outline: none;
  padding: 6px 3px;
  border-radius: 12px;
}

.container .form .select {
  font-size: 1rem;
}

.container .form .labels {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .form .labels .form__item {
  width: 100%;
  text-align: left;
}

.container .form .card {
  -webkit-box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 12px;
  width: 600px;
  height: 300px;
  border: 1px solid black;
  background: radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0.3) 32%, rgba(255, 255, 255, 0) 33%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.3) 13%, rgba(255, 255, 255, 0) 14%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 17%, rgba(255, 255, 255, 0.43) 19%, rgba(255, 255, 255, 0) 20%) 0 110px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) -130px -170px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) 130px 370px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.2) 13%, rgba(255, 255, 255, 0) 14%) 0 0, linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
  background-color: #840b2a;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  margin: 0 auto;
  border-radius: 24px;
}

.container .form .card__front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .form .card__front__number {
  border-radius: 6px;
  border: 1px solid white;
  text-align: center;
  font-size: 2rem;
}

.container .form .card__front__image__wrapper, .container .form .card__front__date__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .form .card__front__image__wrapper__holo, .container .form .card__front__image__wrapper__logo, .container .form .card__front__date__wrapper__holo, .container .form .card__front__date__wrapper__logo {
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=styles.css.map */