* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .menu-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1a936f;
  min-width: 15%;
  color: #f0f0f0;
  padding: 0px 12px;
}

.container .menu-aside .title {
  margin: 24px 0;
  font-size: 36px;
}

.container .menu-aside .nav {
  min-height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.container .menu-aside .nav .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  margin: 0 auto;
}

.container .menu-aside .nav .item .link {
  text-decoration: none;
  color: #f0f0f0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .menu-aside .nav .item .link--active {
  color: #baf73c;
}

.container .menu-aside .nav .item .link:hover {
  color: #272727;
}

.container .menu-aside .nav .item .icon {
  margin-right: 24px;
  width: 25px;
  height: 25px;
}

.container .menu-aside .navigation-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: auto;
}

.container .menu-aside .navigation-footer .nav-footer {
  list-style-type: none;
  width: 75%;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 24px;
  line-height: 2;
}

.container .menu-aside .navigation-footer .nav-footer .description {
  font-size: 12px;
}

.container .menu-aside .navigation-footer .nav-footer .link {
  text-decoration: none;
  color: #f0f0f0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .menu-aside .navigation-footer .nav-footer .link:hover {
  color: #272727;
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f0f0f0;
  padding: 24px 0px 0px 24px;
}

.container .content .title {
  font-size: 36px;
  color: #1a936f;
  margin-bottom: 24px;
}

.container .content .card {
  background-color: #f0f0f0;
  border-radius: 24px;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 10px 25px -20px #f0f0f0;
          box-shadow: 0px 10px 25px -20px #f0f0f0;
  margin-bottom: 24px;
}

.container .content .card .table {
  padding: 6px;
  color: #272727;
}

.container .content .card .table td {
  padding: 12px;
}

.container .content .card .submit {
  background: none;
  margin: 12px;
  display: block;
  min-width: 100px;
  border-radius: 24px;
  color: #f0f0f0;
  border: 1px solid #272727;
  -webkit-box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.75);
  background: #1a936f;
  padding: 5px 15px;
  margin-left: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .content .card .submit:hover {
  background-color: #f0f0f0;
  color: #272727;
}
/*# sourceMappingURL=styles.css.map */