* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}
$primary: #1a936f;
$active: #baf73c;
$dark: #272727;
$light: #f0f0f0;
.container {
  min-height: 100vh;
  background: $dark;
  display: flex;
  .menu-aside {
    display: flex;
    flex-direction: column;
    background: $primary;
    min-width: 15%;
    color: $light;
    padding: 0px 12px;

    .title {
      margin: 24px 0;
      font-size: 36px;
    }

    .nav {
      min-height: 30%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      list-style: none;

      .item {
        display: flex;
        align-items: center;
        width: 75%;
        margin: 0 auto;
        .link {
          text-decoration: none;
          color: $light;
          transition: 0.3s;
          &--active {
            color: $active;
          }
          &:hover {
            color: $dark;
          }
        }
        .icon {
          margin-right: 24px;
          width: 25px;
          height: 25px;
        }
      }
    }
    .navigation-footer {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: auto;
      .nav-footer {
        list-style-type: none;
        width: 75%;
        margin: 0 auto;
        margin-top: auto;
        margin-bottom: 24px;
        line-height: 2;
        .description {
          font-size: 12px;
        }
        .link {
          text-decoration: none;
          color: $light;
          transition: 0.3s;
          &:hover {
            color: $dark;
          }
        }
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    color: $light;
    padding: 24px 0px 0px 24px;

    .title {
      font-size: 36px;
      color: $primary;
      margin-bottom: 24px;
    }

    .card {
      background-color: $light;
      border-radius: 24px;
      border: 1px solid darken($light, 10%);
      box-shadow: 0px 10px 25px -20px $light;
      margin-bottom: 24px;
      .table {
        padding: 6px;
        color: $dark;
        td {
          padding: 12px;
        }
      }
      .submit {
        background: none;
        margin: 12px;
        display: block;
        min-width: 100px;
        border-radius: 24px;
        color: $light;
        border: 1px solid $dark;
        box-shadow: 0px 2px 15px -3px rgba(0, 0, 0, 0.75);
        background: $primary;
        padding: 5px 15px;
        margin-left: auto;
        transition: 0.3s;
        &:hover {
          background-color: $light;
          color: $dark;
        }
      }
    }
  }
}
